{% extends 'nav.html' %}
{% block nav %}
    <script src="/static/js/view_more.js"></script>
    <div class="container text-center shadow-lg" style="width:60%;border-radius:7px;">
        <h1 class="text-info">About</h1>
        <hr>
        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quae ipsam debitis deleniti similique asperiores laudantium minus? Asperiores corrupti sapiente est, quas voluptas ex odio. Ipsum voluptate odio incidunt nostrum?<br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque fugiat accusantium perspiciatis iure facilis, tenetur maiores. Ducimus unde inventore tempora, illo, nisi commodi ratione pariatur ab quisquam qui ipsa <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea unde, natus reprehenderit dicta a voluptate nam veniam rerum recusandae repellat, fugit iusto similique necessitatibus corporis inventore quia. Doloremque, perspiciatis aspernatur.
    <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, quod reprehenderit quam non nemo, velit hic maxime similique aspernatur ducimus dolorem iusto molestiae in? Cumque soluta corrupti pariatur reprehenderit <br><br></p>
    </div>
    <!-- <div class="container">

        <div class="container" style="width: 100%;">
            <p class="row">
                <img class="" src="/static/other_imgs/prof.jpg" alt="" style="height:26%;width:26%;border-radius: 50%;">
                <img src="/static/other_imgs/l.jpg" alt="" style="margin-left:3%;width:2%;height:10%">
            </p>
            <div class="container float-right" style="width:70%;padding-left: 10%;margin-top:-25%">
                <div class="row">
                    <h3>bnk_23307</h3>
                </div>
                <div class="row">
                    <button class="btn btn-info" style="width: 100%;">Edit Profile</button>
                </div>
                <br><br>
                <div class="row">
                    <h4>bnk@gmail.com</h4>
                </div>
                <br>
                <div class="row">
                    <p><h5 class="btn btn-default" style="border: .5px black solid;">followers 508</h5>                       <h5 class="btn btn-default" style="border: .5px black solid;">following 8</h5></p>
                </div>
            </div>
        </div>
        <div class="container row">
            <div class="row">
                <div class="col-md-3">
                    <img src="/static/other_imgs/4.jpg" alt="" style="height: 90%;width: 70%;">
                </div>
                <div class="col-md-3">
                    <img src="/static/other_imgs/3.jpg" alt="" style="height: 90%;width: 70%;">
                </div>
                <div class="col-md-3">
                    <img src="/static/other_imgs/2.jpg" alt="" style="height: 90%;width: 70%;">
                </div>
                <div class="col-md-3">
                    <img src="/static/other_imgs/1.jpg" alt="" style="height: 90%;width: 70%;">
                </div>
                <div class="col-md-3">
                    <img src="/static/other_imgs/prof.jpg" alt="" style="height: 90%;width: 70%;">
                </div>
            </div>
        </div>
        <div class="container shadow-lg" style="width: 60%;">
            <br>
            <div class="container shadow-lg" style="height: 150%;">
                <br>
                <p>
                    <img src="/static/other_imgs/prof.jpg" alt="" style="height:15%;width:15%;border-radius: 50%;">
                    <h5 style="margin-left: 20%;margin-top:-15%;margin-bottom: 10%;">bnk_23307</h5>
                </p>
                <hr>
                <h3>This Is First Post</h3>
                <div class="text-center">
                    <img src="/static/other_imgs/2.jpg" alt="" style="height: 40%;width:90%;">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nihil adipisci obcaecati vitae, incidunt culpa expedita magni hic blanditiis non corporis quo. Dolorum possimus ipsam qui, numquam ipsum magnam consequuntur</p>
                <br>
                <p> 
                    <h5 class="btn btn-info float-left">65 Likes</h5>
                    <button class="btn btn-default float-right" style="margin-left: 65%;margin-top:-14%;"><img src="/static/other_imgs/like.png" alt="" style="height:30%;width:30%"></button>
                </p>              
                <br><br>
            </div>
            <br>
            <div class="container shadow-lg" style="height: 150%;">
                <br>
                <p>
                    <img src="/static/other_imgs/prof.jpg" alt="" style="height:15%;width:15%;border-radius: 50%;">
                    <h5 style="margin-left: 20%;margin-top:-15%;margin-bottom: 10%;">bnk_23307</h5>
                </p>
                <hr>
                <h3>This Is First Post</h3>
                <div class="text-center">
                    <img src="/static/other_imgs/1.jpg" alt="" style="height: 40%;width:90%;">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nihil adipisci obcaecati vitae, incidunt culpa expedita magni hic blanditiis non corporis quo. Dolorum possimus ipsam qui, numquam ipsum magnam consequuntur</p>
                <br>
                <p>
                    <h5 class="btn btn-info float-left">65 Likes</h5>
                    <button class="btn btn-default float-right" style="margin-left: 65%;margin-top:-14%;"><img src="/static/other_imgs/like.png" alt="" style="height:30%;width:30%"></button>
                </p>
                <br><br>
            </div>
            <br>
            <div class="container shadow-lg" style="height: 150%;">
                <br>
                <p>
                    <img src="/static/other_imgs/prof.jpg" alt="" style="height:15%;width:15%;border-radius: 50%;">
                    <h5 style="margin-left: 20%;margin-top:-15%;margin-bottom: 10%;">bnk_23307</h5>
                </p>
                <hr>
                <h3>This Is First Post</h3>
                <div class="text-center">
                    <img src="/static/other_imgs/3.jpg" alt="" style="height: 40%;width:90%;">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nihil adipisci obcaecati vitae, incidunt culpa expedita magni hic blanditiis non corporis quo. Dolorum possimus ipsam qui, numquam ipsum magnam consequuntur</p>
                <br>
                <p>
                    <h5 class="btn btn-info float-left">65 Likes</h5>
                    <button class="btn btn-default float-right" style="margin-left: 65%;margin-top:-14%;"><img src="/static/other_imgs/like.png" alt="" style="height:30%;width:30%"></button>
                </p>
                <br><br>
            </div>
            <br>
            <div class="container shadow-lg" style="height: 150%;">
                <br>
                <p>
                    <img src="/static/other_imgs/prof.jpg" alt="" style="height:15%;width:15%;border-radius: 50%;">
                    <h5 style="margin-left: 20%;margin-top:-15%;margin-bottom: 10%;">bnk_23307</h5>
                </p>
                <hr>
                <h3>This Is First Post</h3>
                <div class="text-center">
                    <img src="/static/other_imgs/4.jpg" alt="" style="height: 40%;width:90%;">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nihil adipisci obcaecati vitae, incidunt culpa expedita magni hic blanditiis non corporis quo. Dolorum possimus ipsam qui, numquam ipsum magnam consequuntur</p>
                <br>
                <p>
                    <h5 class="btn btn-info float-left">65 Likes</h5>
                    <button class="btn btn-default float-right" style="margin-left: 65%;margin-top:-14%;"><img src="/static/other_imgs/like.png" alt="" style="height:30%;width:30%"></button>
                </p>
                <br><br>
            </div>
            <br>
            <div class="container shadow-lg" style="height: 150%;">
                <br>
                <p>
                    <img src="/static/other_imgs/prof.jpg" alt="" style="height:15%;width:15%;border-radius: 50%;">
                    <h5 style="margin-left: 20%;margin-top:-15%;margin-bottom: 10%;">bnk_23307</h5>
                </p>
                <hr>
                <h3>This Is First Post</h3>
                <div class="text-center">
                    <img src="/static/other_imgs/5.jpg" alt="" style="height: 40%;width:90%;">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nihil adipisci obcaecati vitae, incidunt culpa expedita magni hic blanditiis non corporis quo. Dolorum possimus ipsam qui, numquam ipsum magnam consequuntur</p>
                <br>
                <p>
                    <h5 class="btn btn-info float-left">65 Likes</h5>
                    <button class="btn btn-default float-right" style="margin-left: 65%;margin-top:-14%;"><img src="/static/other_imgs/like.png" alt="" style="height:30%;width:30%"></button>
                </p>
                <br><br>
            </div>
        </div>
    </div> -->

    <!-- <div class="container text-center"> -->
        <!-- <p> -->
            <!-- <input type="text" id="filter" onkeyup="log();"> -->
            <!-- <button class='btn btn-outline-dark' onclick="go();">search</button> -->
        <!-- </p> -->
    <!-- </div> -->
    <!-- <h3 id="head"></h3> -->
    <!-- <div id="main-c"> -->
        
    <!-- </div> -->

{% endblock %}
