{% extends 'nav.html' %}
{% block nav %}
    <div class="container shadow-lg" style="width:70%;padding: 2%;border-radius: 10px;">
        <h2>Edit Post</h2>
        <hr>
        <form action="" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                {{ form.title(class_="form-control",placeholder="Enter Title For The Post",name_="title") }}
            </div>
            <div class="form-group">
                {{ form.body(class_="form-control",placeholder="Type Content",style="height:200px",name_="body") }}
            </div>
            
            <input type="file" name="img">
            <label>Get rid of image</label>
            {{ form.dont_want_image() }}
            {{ form.submit(value="post",class_="btn btn-info float-right") }}
        </form>
    </div>
{% endblock %}