{% extends 'nav.html' %}
{% block nav %}

    <div class="container" style="width:60%">
        <div class="jumbotron text-center shadow-lg">
            <h2>Welcome To Flasked</h2>
            <p>Lorem ipsum dlit. Quia tempora accusantium natus asperiores, temporibus repudiandae dolores, repellat culpa ex quo amet minus atque ipsa optio, dolore sit. Rem, cumque tenetur?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nesciunt suscipit, ab quam facilis quis hic idet commodi.</p>
            <p>
                <a href="/about" class="btn btn-dark">Read More</a>
                <a href="/support" class="btn btn-outline-dark">Support Us</a>
            </p>
        </div>
    </div>

{% endblock %}
